// Typography
$font-family: var(--font-family);
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$form-floating-height: calc(3.2rem + 2px);

// Site Theme Settings
$primary: #000000; // Black
$secondary: #53a9b8; // Green
$secondary-dark: #276570; //Dark Green
$theme-hover: #53a9b8;
$primary-text: #212529; // Black
$card-border-top: #E4E4E4;
$thick-grey: #222222;
$dark-grey: #717171;
$lite-grey: #f7f7f7;

$font-size: 16px;
$break-mob: 992px;
$font-size-md: 18px;

