*,
*:before,
*:after {
    transition: all 400ms ease;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
    font-weight: 600;
}

html {
    word-wrap: break-word;
    transition: all 0s ease;
    -webkit-text-size-adjust: 100%;
}

body {
    background: $body-bg;
    font-family: $font-family;
    font-feature-settings: "lnum";
    color: $primary-text;
    font-size: $font-size;
    overflow-x: hidden;
    transition: all ease 800ms;

    .table-responsive {
        -webkit-overflow-scrolling: inherit;
        overflow-y: hidden;

        > *,
        table > * {
            -webkit-overflow-scrolling: inherit;
        }
    }
}
.main-container{
    position: relative;
}

img {
    max-width: 100%;
}
.btn{
    font-weight: 600;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &.disc-type {
        list-style: disc;
        padding-left: 20px;
    }
}

a {
    max-width: 100%;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        outline: none;
    }
}

.pagination{
    z-index: 11;
    position: relative;
}

button{
    &:disabled{
        opacity: 0.35;
        pointer-events: none;
    }
}

.hotel_sticky.sticky.active {
    transition: all .3s;
    transform: translate(0);
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 10;
    box-shadow: 0 -2px 10px 0 #b5b5b5;
    border: 1px solid #d7dce3;
    padding: 15px;
    margin-top: 20px;
}

img {
    transform: translateZ(0);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 2px solid $gray-300;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: $gray-300;
}
select::-webkit-scrollbar {
    width: 8px;
}

@keyframes fadein {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@media print {
    header,
    footer,
    .responsive-footer {
        display: none;
    }
}

// DatePicker Style Start
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: $primary !important;
    border-color: $primary !important;
}
span.flatpickr-day.today:not(.selected),
span.flatpickr-day.prevMonthDay.today:not(.selected),
span.flatpickr-day.nextMonthDay.today:not(.selected) {
    border-bottom-color: $primary !important;
}
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
    color: rgba(64, 72, 72, 0.3) !important;
}
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
    color: rgba(64, 72, 72, 0.8) !important;
}
// DatePicker Style End
.noUi-connect {
    background: $primary !important;
}
.select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $primary !important;
}
.select2-container {
    .select2-selection--single {
        height: $input-height !important;
    }
}
.select2-container--default {
    .select2-selection--single {
        .select2-selection__rendered {
            line-height: $input-height !important;
        }
        .select2-selection__arrow {
            height: $input-height !important;
        }
    }
}

[v-cloak] {
    display: none;
}
[lazy="loading"] {
    width: 100%;
}
.lazy-img-fadein {
    &[lazy='loading'] {
        opacity: 0;
    }
    &[lazy='loaded'] {
        transition: opacity .75s linear 0.2s;
        opacity: 1;
    }
}

.no-transition {
    transition: all 0s ease;

    * {
        transition: all 0s ease;
    }
}

.box-shadow-light {
    @include shadow-default();
}
.w-fit{
    width: fit-content;
}
.rounded-xl {
    border-radius: 0.5rem !important;
}

.card {
    box-sizing: border-box;
    box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
    border: unset;
    border-radius: 15px !important;
    overflow: hidden;
}
.card-footer{
    padding: 1rem !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.hover-card {
    transition: all 0.2s linear;
    border-radius: 15px;
    &:hover,&:focus {
        box-shadow: 0 4px 14px -6px rgb(78 78 78 / 45%);
        transform: translate3d(0, -2px, 5px);
    }
}

.shadow-card {
    transition: all 0.2s linear;
    &:hover {
        border-radius: 5px;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    }
}

.hover-border {
    &:hover {
        text-decoration: underline $primary;
        border: 1px solid $primary;
    }
}

.hover-underline {
    &:hover {
        text-decoration: underline $primary;
    }
}

.hover-backgroud {
    &:hover {
        background-color: $gray-300;
    }
}

.no-object-fit {
    object-fit: unset !important;
}

.default-hover {
    transition: all 0.2s linear;
    transform: scale(1.01);
    border-radius: 5px;
    box-shadow: 0px 1px 8px 1px rgba(69, 65, 78, 0.2);
}

.hover-inner-shadow {
    transition: all 0.2s linear;
    &:hover {
        transform: scale(1.01);
        box-shadow: inset 0 0 5px;
    }
}

.hover-inner-down {
    transition: all 0.2s linear;
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 10px 5px -5px;
    }
}

.blinker {
    transition:all 1.5s ease-in-out;
    animation:blink normal 1.5s infinite ease-in-out;
}

.table {
    background: $white;
}

.breadcrumb {
    background: $body-bg;
    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
    }
}

.no-border {
    border: 0 !important;
    border-radius: 0 !important;
}

.modal {
    .modal-header {
        .modal-title {
            font-weight: 300;
            font-size: 18px;
            margin: 0;
        }
    }
    .modal-content {
        border-radius: 1rem;
    }
}

.loading {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        background: rgba(255, 255, 255, 0.9) url(../../images/loader.svg) no-repeat center / 50px;
        display: inline-block;
        left: 0px;
        right: 0;
        top: 0px;
        bottom: 0;
        z-index: 9;
    }
}

.theme-color {
    color: $primary;
}

.form-floating,
.form-group {
    margin-bottom: 1rem !important;
}

.floating-input-group {
    .input-group-text {
        height: $form-floating-height;
    }
}

.required-input {
    input {
        border : 1px solid $danger;
        &:focus {
            border-color: $danger;
        }
    }
    textarea {
        border : 1px solid $danger;
        &:focus {
            border-color: $danger;
            box-shadow: 0 0 0 0.25rem $red-100;
        }
    }
    select {
        border : 1px solid $danger;
        &:focus {
            border-color: $danger;
        }
    }
}

.btn {
    border-radius: 0.5rem;
    padding: 8px 13px;
    border: 1px solid $gray-500;
    text-transform: none;
    text-align: center;
}

.btn-primary {
    color: $white !important;
}

.btn-primary,.btn {
    &:disabled{
        opacity: 0.35 !important;
    }
}

.btn-rounded {
    border-radius: 1rem;
}

.common-link {
    color: $black;
    &:hover{
        color: $gray-600;
    }
}

.force-common-link {
    color: $primary !important;
}

.theme-text {
    color: $primary-text !important;
}

.pointer-none {
    pointer-events: none;
}

.bg-gray {
    background: $gray-100;
}

.text-gray {
    color: $gray-700;
}

.text-red {
    color: $red;
}

.text-dark-gray {
    color: $gray-700;
}

.text-black {
    color: $black;
}

.text-small {
    font-size: 14px;
}

.text-justify {
    text-align: justify;
}

.line-separator {
    display: flex;
    flex-basis: 100%;
    font-size: $font-size-md;
    &:before,
    &:after {
        content: "";
        flex-grow: 1;
        background: #c7c7c7;
        height: 1px;
    }
}

.line-divider {
    height: 0;
    margin: 1rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
}

.text-line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-15 {
    width: 15% !important;
}

.mx--15 {
    margin-right: -15px;
    margin-left: -15px;
}
.mx--8 {
    margin-right: -8px;
    margin-left: -8px;
}
.px-8 {
    padding-right: 8px;
    padding-left: 8px;
}

.rows-3 {
    height: 75px !important;
}

.rows-5 {
    height: 100px !important;
}

.img-icon {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.round-sm-img {
    @include round-sm-img(40px,40px);
}

.img-icon-medium {
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.userProfileModal {
    position: fixed;
    top: 0;
    z-index: 1001;
    height: 100%;
    max-height: 100%;
    width: 100%;
    background-color: $white;
    overflow-x: hidden;
    overflow-y: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.img-icon {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.btn-link {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.text-xsmall {
    font-size: 12px;
}

.position-relative {
    position: relative;
}

// Responsive Footer
@include media-breakpoint-up(md){
    .responsive-footer {
        display: none;
    }
}

@include media-breakpoint-down(md) {
    .responsive-footer {
        position: fixed;
        background-color: $white;
        // z-index: 12;
        right: 0;
        bottom: 0;
        left: 0;
        transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
        .message-count{
            right: -8px !important;
            top: -10px !important;
            color: $white !important;
            background: #717171 !important;
        }
        @include border-top();

        &.hidden {
            transform: translateY(100%);
        }
        .logged-links {
            a{
                display: block;
                overflow: visible;
                margin: 0 auto;
                text-align: center;
                &.active {
                    color: $primary;
                }
            }
            &.active {
                .menu_icon_active {
                    display: inline;
                }
                a {
                    color: $primary !important;
                }
                .message-count{
                    background: $primary !important;
                }
            }
        }
    }
}
// Responsive Footer
// Alert
.alert {
    border: 0px;
    position: relative;
    padding: 0.95rem 1.25rem;
    border-radius: 1px;

    [data-notify="icon"] {
        display: block;
        &::before {
            line-height: 35px;
            font-size: 22px;
            display: block;
            left: 15px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 35px;
            height: 35px;
            border-radius: 30px;
            text-align: center;
            color: #fff;
        }
    }
    [data-notify="title"] {
        display: block;
        color: #2b2b2b;
        font-weight: 800;
        font-size: 14px;
        margin-bottom: 5px;
    }
    [data-notify="message"] {
        font-size: 13px;
        color: #908e8e;
    }
    .close {
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        padding: 0.25em 0.25em;
        color: #000;
        border: 0;
        border-radius: 0.25rem;
        opacity: 0.5;
    }
}
.alert[data-notify="container"] {
    padding-left: 70px;
}
%alert-style {
    box-shadow: 1px 1px 14px 0px rgba(18, 38, 63, 0.26);
    color: inherit;
    background-color: $white;
}
@mixin alert-state($color) {
    border-left: 4px solid $color;
    @extend %alert-style;
    [data-notify="icon"]:before {
        background: $color;
    }
}
.alert-default {
    @include alert-state($primary);
}
.alert-primary {
    @include alert-state($primary);
}
.alert-secondary {
    @include alert-state($secondary);
}
.alert-info {
    @include alert-state($info);
}
.alert-success {
    @include alert-state($success);
}
.alert-warning {
    @include alert-state($warning);
}
.alert-danger {
    @include alert-state($danger);
}

.footer-toggle {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 99;
    color: $primary-text;
    padding: 6px 12px;
    transition: all 0s ease;
    background: $white;

    &:hover,
    &:active,
    &:focus {
        border-color: $primary-text;
    }

    .material-icons {
        font-size: 12px;

        &:before {
            font-weight: 600;
        }
    }
}

.page-footer {
    box-shadow: 0px -7px 25px rgba(0, 0, 0, 0.08);
    background: $gray-100;
    padding: 5px 0px 10px;
    h6{
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 10px;
    }
}


.input-with-trailing-img {
    position: relative;
    width: auto;

    .form-control {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .trailing-img {
        position: absolute;
        top: 10px;
        height: 20px;
        right: 0px;
        line-height: 2;
    }
}

.input-with-leading-img {
    position: relative;
    width: auto;

    .form-control {
        text-indent: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .leading-img {
        position: absolute;
        top: 10px;
        height: 20px;
        right: 8px;
        line-height: 2;
    }
}

.pac-container {
    z-index: 9999;
    .pac-item {
        .pac-icon-marker {
            margin-right: 0px !important;
            margin-left: 7px !important;
        }

        .pac-item-query {
            padding-right: 0px !important;
            padding-left: 3px !important;
            display: inline-block;
        }
    }

    .pac-logo:after {
        background-position: 2px center !important;
        text-align: left !important;
    }
}

.badge-notification {
    position: relative;
    top: -5px;
    border-radius: 50%;
    padding: 0px 5px;
}

#cookie-alert {
    z-index: 99;
    background: #3b4045eb;
    color: #ffffff;
    text-align: center;
    position: fixed;
    right: 3px;
    bottom: 0;
    margin-bottom: 0;
    padding: 10px 3px;
    margin: 15px;
    max-width: 367px;
    @include border-radius(5px);
    a:hover {
        background-color: hsla(0, 0%, 100%, 0.2);

        &:first-child{
            &:hover{
                background: unset;
            }
        }
    }
    p{
        line-height: 1.5;
    }
}

.search_highlight {
    background-color: antiquewhite;
}
.grey-btn{
    padding: 4px 10px;
    background: $white;
    border-radius: 5px;
    color: #000000;
    font-weight: 500;
    &:hover{
        background: #f7f7f7 !important;
    }
}
.form-control{
    &:focus{
        border-color: #ced4da;
    }
}